---
// src/layouts/Layout.astro
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My Engineer Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-950 text-slate-200 antialiased min-h-screen">
		<div class="max-w-5xl mx-auto px-6 py-12 md:py-20">
			<slot />
		</div>
	</body>
</html>

<style is:global>
    /* スクロールバーのデザインなど */
	::-webkit-scrollbar {
		width: 8px;
	}
	::-webkit-scrollbar-track {
		background: #0f172a;
	}
	::-webkit-scrollbar-thumb {
		background: #334155;
		border-radius: 4px;
	}
</style>